/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

$bgColor:#131722;
$lightBgColor:rgba(30, 41, 82, 0.1);
$bgTransparent:rgba(36,186,239,.6) ;
$fontColor:#fff;
$borderColor:#a8a8a83d;
$borderHeight:1px;
$secondFontColor:#949cb0;

body{
    overflow-x: hidden;
    background-color: $bgColor;
    color: $fontColor;
    font-family: 'Montserrat Alternates', sans-serif;
    .Border{
        border:$borderHeight $borderColor solid;
        margin: 2.5rem 0;
      }
      .different{
          color: $secondFontColor;
      }
    a {
        text-decoration: none;
        background-color: $bgColor;
        color: $fontColor;
    } 

   
    .poster{
        .layer{
            opacity: 0;
            width: 100%;
            height: 100%;
            background-color:white;
           position: absolute;
           top: 100%;
           left: 0px;
           transition: all 0.8s;
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           z-index: 100;
        }
        img{
            transition: all 0.5s;
        }
        &:hover .layer{
            opacity: 0.5;
            top: 0%;
        }
        &:hover img{
            transform: scale(1.2,1.2)
        }
        
    }
}
